*{
    margin: 0;
    padding: 20px;
}

p{
    
    /*primero busca helvetica si no la encuentra busca arial y sucesiv.*/
    /*tipos de fuentes genericas, serif --> Times New Roman, Times, Garamond, Georgia, Cambria, sans-serif --> Arial, Helvetica, Verdana, Trebuchet, Tahoma, Futura, cursive --> Comic Sans, fantasy--> Impact
    , monospace -->Courier New, Monaco, Consolas*/
    /*
    font-family: Helvetica, arial, sans-serif;
    font-style: italic;/*oblicue, normal
    font-weight: bold;bolder, lighter, normal, 100, 200-900
    font-size: 20px;em, xx-small,x-large,large, xx-large, %,initial, inheret etc
    todo mayusulas
    font-variant: small-caps;*/
    /*poner todo en una sola propiedad*/
    /*en este orden colocar, font-style, font-weight, font-variant, font-size, font-family, es valido si solo se pone font-size, y font familly*/
    font:italic bold small-caps 20px Helvetica;
    text-indent: 30px;/*para poner sangria o tabular texto*/
    text-transform: capitalize;/*uppercase mayuscula todos, lowercase todo minuscula*/
    white-space: pre-wrap;/*con pre el texto se mostrará tal y como estpa en la etiqueta p con espacios y enters que tenga con pre-wrap tambien pero respeta el contenedor con preline elimina los espacios en blanco pero siempre respetando los enter*/
    word-spacing: 30px;/*agrega espacios entre palabras*/
    letter-spacing: .7em;/*agrega espacios entre letras*/
    text-align: center;/*alinea el texto*/
    text-decoration: underline;/*line-through, etc*/

    
    /*estas propiedades solo son para firefox aunque parece ser que ya funciona en chrome*/
    text-decoration-style: dashed;/*puntea las lineas que se dan en text-decoration*/
    text-decoration-color: blue;
    text-decoration-line:overline;/*lo mismo que text-decoration*/

    /*aqui en adelante si soportan los navegadores*/
    -moz-text-align-last: right;/*mueve la ultima linea*/
    wo//rd-wrap: break-word;/*texto no se salga del contenedor*/
    overflow: hidden;
    text-overflow: ellipsis;/*muestra puntos suspensivos cuando el texto se desborde*/
    
}

h2{
    /*sombrear texto*/
    /*x y blur color*/
    text-shadow: 5px 5px 4px rgb(18, 18, 116);
    text-transform: uppercase;
}
