/*clase57 es de unidades absolutas*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*
html{
    font-size: 10px;
}para modificar el tamaño del html o navegador
*/
.padre{
    padding: 10px;
    background-color: aqua;
    font-size: 20px;
}

.padre p{
    font-size: 2em;/*unidades  relativas son relativas al tamaño de su padre para calcularlo xem*xmedidadelPadre para este caso seria 2em*20px= 40px exite ex que es la mitad de em, rem es relativo al valor por defecto de los navegadores que es 16px rem no es relativo a su padre la forma de calculo es la misma*/
    /*para las fuentes usar medidas rem para el ancho usar medidas de porcentaje y asi sea responsive*/
}

.padre2{
    width: 300px;
    height: 150px;
    background-color: blueviolet;
}

.hijo1{
    width:50%;/*es relativo a su elemento padre en este caso a los 300px de padre2, si le doy un 100% toma un valor de 300px*/
    /*para obtener el valor en pixeles con una regla de 3 o multiplicando el valor del elemento padre por el porcentaje en ese caso seria 300*0.5= 150px*/
    height: 50px;
    background-color: green;
    position: relative;
    top: 150px;
}