*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.degradado{
    width: 400px;
    height: 200px;
    margin: 100px auto;
    background: linear-gradient(yellow, black);/*(color que comienza, color que finaliza) el degradado empieza siempre desde el top y el ultimo valor aparece en bottom*/
    /*para que empiece desde la derecha y termine a la izquierda (to left, colorinicial, colorfinal)
    tambien se puede poner to top, to bottom, to right*/
    background: linear-gradient(to left, yellow, black);
    /*to top left, va desde parte superior derecha hacia superior izquierda, to top bottom left, to top right, to bottom right*/
    background: linear-gradient(to top left, yellow, black);
    /*tampien se puede poner valores en grados*/
    /*se puede controlar el tamaño de cada color con grados distribuir 100% entre todos los colores, no es necesario poner porcentaje a todos los colores*/
    background: linear-gradient(35deg, yellow 20%, black 25%, red 25%, green 30%);

}