@font-face{
    font-family: "namePersonalizado";
    src: url('../../fonts/Amerika/AMERIKAA.ttf') format('truetype');/*importar el font descargado, ver video para saber como descargar el kit*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mis-iconos';
    src:  url('../../IconFonts/');
    src:  url('../../IconFonts/#iefix') format('embedded-opentype'),
      url('../../IconFonts/fonts/icomoon.ttf?hu6l9n') format('truetype'),
      url('../../IconFonts/fonts/icomoon.woff?hu6l9n') format('woff'),
      url('../../IconFonts/fonts/icomoon.svg?hu6l9n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'mis-iconos' !important;
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-home:before {
    content: "\e900";
    font-family: 'mis-iconos' !important;
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  }
  .icon-home3:before {
    content: "\e902";
    font-family: 'mis-iconos' !important;
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  }
  .icon-newspaper:before {
    content: "\e904";
    font-family: 'mis-iconos' !important;
  }
  .icon-pencil:before {
    content: "\e905";
    font-family: 'mis-iconos' !important;
  }
  .icon-camera:before {
    content: "\e90f";
    font-family: 'mis-iconos' !important;
  }
  .icon-headphones:before {
    content: "\e910";
    font-family: 'mis-iconos' !important;
  }
  .icon-music:before {
    content: "\e911";
    font-family: 'mis-iconos' !important;
  }
  .icon-play:before {
    content: "\e912";
    font-family: 'mis-iconos' !important;
  }
  .icon-connection:before {
    content: "\e91b";
    font-family: 'mis-iconos' !important;
  }
  .icon-file-zip:before {
    content: "\e92b";
    font-family: 'mis-iconos' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  }
  .icon-price-tags:before {
    content: "\e936";
    font-family: 'mis-iconos' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  }
  

*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: brown;
}

section{
    width: 400px;
    margin: 100px auto;
    padding: 15px;
    background-color: floralwhite;
    border: 10px solid rgb(207, 102, 102);
}

h1{
    text-align: center;
    color: brown;
    font-family: "namePersonalizado";/**/
}
h1, p, img{
    margin-bottom: 10px;
}

img{
    width: 100%;
}